/* BattleRoom CSS*/
.Spotlight{
    position: relative;
    margin-top: -20px;
    background-color: black;
    width: 900px;
    height: 500px;
    padding: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .Spotlight:hover{
    display: none;
  } */

  .itemForBid{
    margin-top: -30px;
  }
  
  .AvatarSpread{
    position: absolute;
    display: flex;
    bottom: 0px;
    border-radius: 100px;
  }
  
  .Avatar{
    background-color: #272727;
    position: relative;
    flex: 20%;
    padding: 5px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .Avatar:hover{
    background-color: white;
    transition: 0.5s all;
  }
  
  .centered {
    color:white;
    position: absolute;
    top :70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .itemForBid{
    position: absolute;
    top: 60%;
  }
  
  
  
  
 /*HOMEPAGE CSS*/
.Home{
    /* background-color: aqua; */
    border: 2px solid white;

    height: 100%;
    width:100%;

    /* flex: 1; */
    
}
.Nav{
    /* padding: 10px; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.Body{
    display: flex;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* width:50vh; */
    /* margin-top: 100px; */
}
.GamePortal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border: 2px solid white;
    border-radius: 30px;
    width: 30%;
    height: 50%;
}
.GamePortal > *{
     margin:10px;
}
.BattleButton{
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
}
.BattleButton:hover{
    background-color: navy;
    transition: 0.25s all;
}

.AccountCreation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border: 2px solid white;
  border-radius: 30px;
  width: 30%;
  height: 50%;
}
.AccountCreation > *{
  margin:10px;
}
.AccountCreation > .createAccount{
  background-color: #272727;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
}
.AccountCreation > .createAccount:hover{
  background-color: navy;
  transition: 0.25s all;
}

