/* BattleRoom CSS*/
.Spotlight{
    position: relative;
    margin-top: -20px;
    background-color: black;
    width: 900px;
    height: 500px;
    padding: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .Spotlight:hover{
    display: none;
  } */

  .itemForBid{
    margin-top: -27px;
  }
  
  .AvatarSpread{
    position: absolute;
    display: flex;
    bottom: 0px;
    border-radius: 100px;
  }
  
  .Avatar{
    background-color: #272727;
    position: relative;
    flex: 20%;
    padding: 5px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .Avatar:hover{
    background-color: white;
    transition: 0.5s all;
  }
  
  .centered {
    color:white;
    position: absolute;
    top :70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .itemForBid{
    position: absolute;
    top: 60%;
  }
  .Spotlight > .Spotlight-img{
    height: 60vh;
    width: 90vw;
  }
  
  
  
 /*HOMEPAGE CSS*/
.Home{
    /* background-color: aqua; */
    /* border: 2px solid white; */
    background-color: #fefae0;
    height: 100%;
    width:100%;

    /* flex: 1; */
    
}
.Nav{
    /* padding: 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.Body{
    display: flex;
    /* border: 2px solid white; */
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* background-color: red; */
    /* width:50vh; */
    /* margin-top: 100px; */
}

.GamePortal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefae0;
    /* border: 5px solid black; */
    border-radius: 30px;
    width: 30%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; */
    transition: all 1s;
}
.GamePortal:hover{
  /* background-color: red; */
  height: 60%;
  width: 35%;
  border:none;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.GamePortal > *{
     margin:10px;
}
.BattleButton{
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
}
.BattleButton:hover{
    background-color: navy;
    transition: 0.25s all;
}

.AccountCreation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border: 2px solid white;
  border-radius: 30px;
  width: 30%;
  height: 50%;
}
.AccountCreation > *{
  margin:10px;
}
.AccountCreation > .createAccount{
  background-color: #272727;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
}
.AccountCreation > .createAccount:hover{
  background-color: navy;
  transition: 0.25s all;
}

.Footer{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #61A0AF;
  height: 12vh;
  width: 100vw;
  margin: 0px;
 
}

